<script lang="ts">
	import type { SVGAttributes } from "svelte/elements";
	type $$Props = SVGAttributes<SVGElement>;
</script>

<svg
	{...$$props}
    xmlns="http://www.w3.org/2000/svg"
    viewBox="0 0 32 32"
    id="emoji"
>
    <path
        fill="#ee8eb4"
        d="M16,2A14,14,0,1,0,30,16,14,14,0,0,0,16,2Zm-4,8a2,2,0,1,1-2,2A2,2,0,0,1,12,10Zm4,15a6,6,0,0,1-6-6,1,1,0,0,1,1-1H21a1,1,0,0,1,1,1A6,6,0,0,1,16,25Zm4-11a2,2,0,1,1,2-2A2,2,0,0,1,20,14Z"
    />
</svg>
