<script lang="ts">
    import AnimeEpisodes from "$components/pages/anime_info/anime_episodes.svelte";
    import AnimeFullDetails from "$components/pages/anime_info/anime_full_details.svelte";
    import ImageLoader from "$components/shared/image/image_loader.svelte";
    import ScrollArea from "$components/shared/scroll_area.svelte";
    import { FormatDate } from "$functions/format_date";
    import Chevron from "$icons/chevron.svelte";
    import Download from "$icons/download.svelte";
    import Edit from "$icons/edit.svelte";
    import Listen from "$icons/listen.svelte";
    // icons
    import PlayCircle from "$icons/play_circle.svelte";
    import Read from "$icons/read.svelte";
    import SettingsOutline from "$icons/settings_outline.svelte";
    import Share from "$icons/share.svelte";
    import Video from "$icons/video.svelte";
    // types
    import type { SvelteComponentDev } from "svelte/internal";

    export let anime_name: string;
    export let anime_alternative_name: string;
    export let anime_episodes_count: number;
    export let anime_date: string;
    export let anime_synopsis: string;
    export let anime_banner: string;

    export let anime_episodes: any;

    const icon_mapping: {
        [key: string]: {
            [key: string]: {
                icon: {
                    component: typeof SvelteComponentDev;
                    class: string;
                    color?: string;
                    variant?: boolean | string;
                };
            };
        };
    } = {
        anime_options: {
            read: {
                icon: {
                    component: Read,
                    class: "w-[1.5vw] text-surface-500"
                }
            },
            listen: {
                icon: {
                    component: Listen,
                    class: "w-[1.5vw] text-surface-500"
                }
            }
        },
        user_options_icons: {
            video: {
                icon: {
                    component: Video,
                    variant: false,
                    class: "w-[1.125vw]"
                }
            },
            edit: {
                icon: {
                    component: Edit,
                    variant: "with_underline_around_pencil",
                    class: "w-[1.125vw]"
                }
            },
            download: {
                icon: {
                    component: Download,
                    class: "w-[1.125vw]"
                }
            },
            share: {
                icon: {
                    component: Share,
                    class: "w-[1.125vw]"
                }
            }
        }
    };
</script>

<div class="grid grid-cols-12 items-start">
    <div class="col-span-10 pr-[4vw]">
        <div class="grid grid-cols-12 items-end justify-between">
            <div class="col-span-7 flex items-end pr-[2vw] md:gap-[2.5vw]">
                <div class="md:h-[18.25vw] md:w-[12vw]">
                    <ImageLoader
                        class="h-full w-full object-cover object-center md:rounded-[1vw]"
                        src={anime_banner}
                        alt={anime_name}
                    />
                </div>
                <div>
                    <span class="font-bold md:text-[2.5vw] md:leading-[2.7vw]">{anime_name}</span>

                    <p class="unstyled space-x-[0.25vw] font-bold font-semibold uppercase tracking-wider text-surface-50 md:pt-[0.625vw] md:text-[0.75vw] md:leading-[0.9vw]">
                        <span class="after:ml-[0.5vw] after:opacity-75 after:content-['▪']">{anime_alternative_name}</span>
                        <span>{anime_name}</span>
                    </p>

                    <p class="mt-[0.25vw] flex flex-wrap items-center gap-[0.5vw] font-semibold md:pt-[0.5vw] md:text-[0.75vw] md:leading-[0.75vw]">
                        <span class="after:ml-[0.5vw] after:opacity-75 after:content-['▪']">TV</span>
                        <span class="after:ml-[0.5vw] after:opacity-75 after:content-['▪']">
                            {anime_episodes_count} eps
                        </span>
                        <span class="after:ml-[0.5vw] after:opacity-75 after:content-['▪']">Completed</span>
                        <span class="capitalize after:ml-[0.5vw] after:opacity-75 after:content-['▪']">
                            {new FormatDate(anime_date).format_to_season}
                        </span>
                        <span class="uppercase tracking-wider">Kuschio animation</span>
                    </p>

                    <div class="mt-[1.5vw] flex items-center md:gap-[1.15vw]">
                        <button
                            type="button"
                            class="btn bg-primary-500 font-bold text-white md:h-[4.3vw] md:w-[7vw] md:rounded-[0.625vw] md:text-[0.87vw]"
                        >
                            <div class="flex gap-[0.7vw]">
                                <PlayCircle class="w-[1.875vw]" />
                                <div class="flex flex-col items-start">
                                    <span class="leading-[1.05vw]">Watch</span>
                                    <span class="font-bold leading-[0.9375vw] text-surface-50 md:text-[0.625vw]">Ep 01</span>
                                </div>
                            </div>
                        </button>

                        {#each Object.entries(icon_mapping.anime_options) as item}
                            {@const item_name = item[0]}
                            {@const item_icon = item[1].icon}
                            {@const component = item_icon.component}
                            {@const component_class = item_icon.class}

                            <button
                                type="button"
                                class="btn bg-secondary-100 capitalize text-surface-500 md:h-[4.3vw] md:w-[4.3vw] md:rounded-[0.625vw] md:text-[0.87vw] md:font-semibold"
                                disabled
                            >
                                <div class="flex flex-col items-center md:gap-[0.68vw]">
                                    <svelte:component
                                        this={component}
                                        class={component_class}
                                    />
                                    <span class="md:leading-[1vw]">{item_name}</span>
                                </div>
                            </button>
                        {/each}
                    </div>

                    <div class="flex md:mt-[1vw] md:gap-[0.625vw]">
                        {#each Object.entries(icon_mapping.user_options_icons) as item}
                            {@const item_icon = item[1].icon}
                            {@const component = item_icon.component}
                            {@const component_class = item_icon.class}
                            {@const component_variant = item_icon.variant}

                            <button
                                type="button"
                                class="btn btn-icon bg-warning-400 p-0 text-surface-500 md:w-[1.875vw] md:rounded-[0.25vw]"
                            >
                                <svelte:component
                                    this={component}
                                    class={component_class}
                                    variant={component_variant}
                                />
                            </button>
                        {/each}
                    </div>
                </div>
            </div>

            <div class="col-span-5">
                <div class="flex gap-[0.75vw]">
                    <span class="font-semibold md:text-[1.25vw] md:leading-[1.5vw]">Synopsis</span>
                    <button class="btn btn-icon rounded-[0.1875vw] bg-surface-400 p-0 md:h-[1.5vw] md:w-[1.5vw]">
                        <SettingsOutline class="w-[0.9vw] opacity-75" />
                    </button>
                </div>

                <ScrollArea
                    offsetScrollbar
                    gradientMask
                    parentClass="mt-[1.25vw]"
                    class="text-justify md:max-h-[10.25vw] md:text-[0.75vw] md:leading-[1vw]"
                >
                    {anime_synopsis}
                </ScrollArea>

                <div class="flex gap-[0.5vw] text-white md:mt-[1vw] md:text-[0.75vw] md:leading-[0.9vw]">
                    <span class="rounded bg-surface-900 px-[0.95vw] md:py-[0.375vw]">Mystery</span>
                    <span class="rounded bg-surface-900 px-[0.95vw] md:py-[0.375vw]">Romance</span>
                    <span class="rounded bg-surface-900 px-[0.95vw] md:py-[0.375vw]">Horror</span>
                </div>

                <div class="flex w-max gap-[0.75vw] rounded-[0.25vw] bg-surface-50/10 backdrop-blur-lg md:mt-[0.5vw] md:px-[0.75vw] md:py-[0.375vw] md:text-[0.65vw] md:leading-[0.75vw]">
                    <div class="flex gap-[0.25vw]">
                        <span>Score:</span>
                        <span class="text-warning-400">79</span>
                    </div>
                    <div class="flex gap-[0.25vw]">
                        <span>Status:</span>
                        <span class="text-warning-400">Watching</span>
                        <Chevron class="w-[0.625vw] text-warning-400" />
                    </div>
                    <div class="flex gap-[0.25vw]">
                        <span>Episode:</span>
                        <span class="text-warning-400">0/{anime_episodes_count}</span>
                    </div>
                    <div class="flex gap-[0.25vw]">
                        <span>Your Score:</span>
                        <span class="text-warning-400">Not Rated</span>
                        <Chevron class="w-[0.625vw] text-warning-400" />
                    </div>
                </div>
            </div>
        </div>

        <AnimeEpisodes {anime_episodes} />
    </div>

    <div class="col-span-2">
        <AnimeFullDetails />
    </div>
</div>
